<!DOCTYPE html>
<html ng-app="store">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <title>Gem Store</title>
  </head>
  <body ng-controller="StoreController as store">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Craig's Gem Collection</h1>
        <p class="lead">Check out details on the Gems below!</p>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
        </h3>
        <img ng-src="{{product.image}}"/>
        <section ng-controller="PanelController as panel">
          <ul class="nav nav-tabs">
            <li class="nav-item" ng-class="{ active:panel.isSelected(1)}"><a href="#" class="nav-link" ng-click="panel.selectTab(1)">Description</a></li>
            <li class="nav-item" ng-class="{ active:panel.isSelected(2)}"><a href="#" class="nav-link" ng-click="panel.selectTab(2)">Specifications</a></li>
            <li class="nav-item" ng-class="{ active:panel.isSelected(3)}"><a href="#" class="nav-link" ng-click="panel.selectTab(3)">Reviews</a></li>
          </ul>
          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
          </div>
          <div class="panel" ng-show=panel.isSelected(2)>
            <h4>Specifications</h4>
            <blockquote>None yet</blockquote>
          </div>
          <div class="panel" ng-show=panel.isSelected(3)>
            <h4>Reviews</h4>
            <blockquote ng-repeat="review in product.reviews" class="card" style="width: 20rem;">
              <b class="card-title">Stars: {{review.stars}}</b>
              <p class="card-text">{{review.body}}</p>
              <cite>- {{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <blockquote class="card" style="width: 20rem;">
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                <p>Your review: {{reviewCtrl.review.body}}</p>
                <cite>by: {{reviewCtrl.review.author}}</cite>
              </blockquote>
              <legend>Write a Review</legend>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Stars:</label>
                  <select class="form-control" id="exampleFormControlSelect1" ng-model="reviewCtrl.review.stars" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Your Review:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a short review about the product" ng-model="reviewCtrl.review.body" required></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">by:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="reviewCtrl.review.author" required>
                </div>
                <div class="form-validation">
                  reviewForm is {{reviewForm.$valid}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </section>
      </li>
    </ul>
  </body>
</html>
